<nav
  class="navbar navbar-default navbar-static-top"
  [style.background-color]="this.preferences.colors.primary">
  <div class="container-fluid">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-1" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

  <a routerLink="" class="navbar-brand">
    <h1
      [style.color]="this.preferences.colors.fourth"
      class="title-h1">
      {{ preferences.title }}
    </h1>
    </a>
  </div>

  <div class="collapse navbar-collapse" id="example-1">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="landing">Order</a>
      </li>
      <li

        routerLinkActive="active">
        <a routerLink="admin">Admin</a>
      </li>
      <li

        routerLinkActive="active">
        <a routerLink="menu-admin">Edit Menu</a>
      </li>
      <li

        routerLinkActive="active">
        <a routerLink="queue">Queue</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="history">History</a>
      </li>
    </ul>

    <div class="dropdown pull-right">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        User:
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <ul class="nav">
          <li *ngIf="loggedIn == false">
            <a class="dropdown-item" href="#">Login</a>
          </li>
          <li *ngIf="loggedIn == true">
            <a class="dropdown-item" href="#">Logout</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Settings</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  </div>
  </nav>
