<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title"><h2>Order History</h2></span>
      <span class="pull-right">
        <div class="row">
          <div class="input-group pull-left pad-left-right col-xs-7">
        <input
          type="text" class="form-control"
          placeholder="Enter a search value"
          max="100"
          size="100"
          #searchBox
          (keyup)="search(searchBox.value)">
            <div class="glyphicon glyphicon-search input-group-addon"
              (click)="search(searchBox.value)">
            </div>
        </div>
        </div>
      </span>
    </div>
  </div>

  <div class="panel-body">
    <div class="center-panel">
      <app-order-item
        *ngFor="let order of orders | cartFilter:term; let i = index"
        [order]="order"
        [index]="i">
      </app-order-item>
    </div>
  </div>

</div>
