<div
  class="panel panel-default"
  [style.background-color]="this.preferences.secondaryColor"
>
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title"><h2>Cart</h2></span>
    </div>
  </div>
  <div class="panel-body">
    <div class="center-panel">

      <div class="alert">
          <mat-form-field appearance="fill">
            <mat-label>Pickup Time</mat-label>
            <mat-select>
              <mat-option *ngFor="let time of times" [value]="times">
                {{ time | date:'MMM dd - hh:mm' }}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <div
        *ngIf="cart.cartItems.length < 1"
        class="alert alert-warning">
        Your cart is empty
      </div>

      <app-cart-item
        *ngFor="let cartItem of cart.cartItems; let i = index"
        [entree]="cartItem"
        [index]="i">
      </app-cart-item>
    </div>
  </div>

  <p>Total: ${{ cart.cost | number}}</p>

  <button
    *ngIf="!checkoutPressed && cart.cost > 0"
    class="btn btn-success"
    (click)="onCheckout()">
    Checkout
  </button>

  <div
    *ngIf="checkoutPressed"
    class="alert alert-success">
    Checked out successfully. Thank you!
  </div>

</div>
