<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title"><h2>Admin Details</h2></span>
      <span class="pull-right">
      </span>
    </div>
  </div>
  <div class="panel-body">
    <div class="center-panel">

      <h3><strong>Preferences</strong>:</h3>
      <hr>
      <div class="form-group">
        <strong>Site title:</strong> {{ preferences?.title }}
        <br><br>
        <span style="word-wrap: wrap;">
          <strong>Site logo address:</strong> {{ preferences?.logoImgUrl }}
        </span>
        <br><br>
        <strong>Site colors:</strong>
        <ul>
          <li>
            <strong>Primary</strong>: {{ preferences?.primaryColor }}
            <!-- <div [ngStyle]="{'background-color': '{{ preferences?.primaryColor }}'}">Primary</div> -->
          </li>
          <li>
            <strong>Secondary</strong>: {{ preferences?.secondaryColor }}
          </li>
          <li>
            <strong>Tertiary</strong>: {{ preferences?.tertiaryColor }}
          </li>
        </ul>
      </div>

    </div>
  </div>

</div>
