<div
  class="panel panel-default"
  [style.background-color]="this.preferences.secondaryColor">

  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title"><h2>Menu</h2></span>
      <span class="pull-right">
        <!-- <button
          class="btn btn-info"
          (click)="onReload()">
          Reload
      </button> -->
      </span>

    </div>
  </div>
  <div class="panel-body">
    <div class="center-panel">
      <app-menu-item
        *ngFor="let entree of menu; let i = index"
        [entree]="entree"
        [index]="i">
      </app-menu-item>
    </div>
  </div>

</div>
